language: rust

GH_TOKEN: &GH_TOKEN
  secure: "gZMHBHCsRqKwHypVEiOMYm5A7ZpYHik9E7zeqEVDj82t+i/VCh6GhJ1AeqmChU1YwZLZno8jg4fAxQDdO5J++/of0Uz23MB4nyMfLIFWkH4XBjvSqvT+vNJx83fK+uY8FSSeiWDeOwWnINlqh1mMGhA+V1GC99Oeoez8hP9yUNsYP3KrDsdyRVbEygZg3XU0NZWeKAIfiMTwZj4FHSYaYMqiaGRiDKEpnUxnbT0R6CTroPSUTiMq88SWz7FcWcW4nT+1pSjvPcaUgHVs9PrTv1yhbsCza/FlfopIMT4zWnTYBcDh1fALr32uKzGH33w2POk+BhuG6nLIHppY7SKt9n9RF/CvuBfB0PGYgXa+bqU54ZfOA1j0R9b07cXJDCYMpEoNVlLFI1kFi2KQUwgYM8VoD/VguAoGPDdcBlJm8mS3rT5/ztgnvgdWOT959lE7bY4FmlP1oZGKKyYlrG7sAl5A35blyEWUdboM0q3NZajzSPhe1ZPgmOXcM0sPV38/b+k6Bp7n8f43eh+ZVCpGkUzgdLsvdKalYmR5rrIatTv5bAH/7wYfgXrjSAcqyVslHWlRAKSFR8lkTftK3dQWjmkyJvu62BfyCGFQjA0hugAwjQI6415gQ+kGAvIg4MI4S8/XvLvBQtVXay2jgrwfaTl7Q2m3xEbRAJd72quNjKM="

# Cache `cargo install`ed tools, but don't cache the project's `target`
# directory (which ends up over-caching and filling all disk space!)
cache:
  directories:
    - /home/travis/.cargo

DEPLOY_TO_GITHUB: &DEPLOY_TO_GITHUB
  before_deploy:
    - git config --local user.name "Jonathon Belotti"
    - git config --local user.email "jonathon.i.belotti@gmail.com"
    - name="slackify-markdown-$TRAVIS_TAG-$TARGET"
    - mkdir $name
    - cp target/$TARGET/release/slackify-markdown $name/
    - cp README.md LICENSE $name/
    - tar czvf $name.tar.gz $name
  deploy:
    provider: releases
    api_key: *GH_TOKEN
    file: slackify-markdown-$TRAVIS_TAG-$TARGET.tar.gz
    skip_cleanup: true
    on:
      branch: master
      tags: true

matrix:
  include:

    - name: Tests
      env: RUST_BACKTRACE=1
      rust: nightly
      addons:
        firefox: latest
        chrome: stable
      script:
        - cargo test --locked
        - rustup component add rustfmt
        - cargo fmt --version
        - cargo fmt --all -- --check

    - name: Linux Binary
      env: TARGET=x86_64-unknown-linux-musl
      rust: nightly
      before_script: rustup target add $TARGET
      script: cargo build --release --target $TARGET --locked
      addons:
        apt:
          packages:
            - musl-tools
      <<: *DEPLOY_TO_GITHUB

    - name: macOS Binary
      env: MACOSX_DEPLOYMENT_TARGET=10.7 TARGET=x86_64-apple-darwin
      os: osx
      rust: nightly
      script: cargo build --release --target $TARGET --locked
      install: true
      <<: *DEPLOY_TO_GITHUB

notifications:
  email:
    on_success: never